body,html{
   margin-left: 0;
   margin-right: 0;
   margin-top: 0;
   margin-bottom: 0;
   padding: 0;
   background-color:rgb(237, 224, 218);
}

#menu{
    width: 100%;
    min-height: 50px;
    background-color: rgb(255, 127, 53);
    box-shadow: 0px 6px 16px -4px rgba(0,0,0,0.64);
}

#menu .button {
    background-color: transparent; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    float: left;
  }

  #menu .button:not(:last-child) {
    border-right: none; /* Prevent double borders */
  }
  
  #menu .button:hover {
    background-color: rgba(243, 102, 21, 0.808);
  }

  #menu .buttonLeft {
    background-color: transparent; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    float: right;
  }

  #menu .buttonLeft:not(:last-child) {
    border-right: none; /* Prevent double borders */
  }
  
  #menu .buttonLeft:hover {
    background-color: rgba(243, 102, 21, 0.808);
  }

  #menu .buttonimg {
    background-color: transparent; /* Green */
    border: none;
    color: white;
    padding: 0px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    float: right;
    border-right: none; /* Prevent double borders */
  }

  #menu .buttonimg:hover {
    background-color: rgba(243, 102, 21, 0.808);
  }

  #menu .buttonimg img{
    max-height: 45px;
    max-width: 45px;
  }

  #bodyProfil{
    margin: auto;
    margin-top: 20px;
    width: 80%;
    min-height: 300px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 6px 16px -4px rgba(0,0,0,0.64);
  }

  #tableInfo{
    
  }

  table, td, th {  
    border: 1px solid #ddd;
    text-align: left;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    padding: 15px;
  }

  #content{
    margin: auto;
    margin-top: 20px;
    width: 90%;
    min-height: 600px;
    background-color:transparent;
  }

  #contentProf{
    margin: auto;
    margin-top: 20px;
    width: 60%;
    min-height: 600px;
    background-color:transparent;
  }

  .left{
    float: left;
    width: 50%;
  }
  .leftUp{
    width: 100%;
    background-color: gray;
    height:240px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 6px 16px -4px rgba(0,0,0,0.64);
    
  }


  .headerLfUp{
    width: 100%;
    background-color: rgb(226, 225, 225);
    box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.75);
    height: 40%;
  }
  .homeInfoContent{

  }

  .leftDown{
    width: 100%;
    background-color: gainsboro;
    height: 330px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 6px 16px -4px rgba(0,0,0,0.64);
    margin-top: 20px; 
  }


  .headerLfDwn{
    width: 100%;
    background-color: rgb(226, 225, 225);
    box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.75);
    height: 25%;
  }
  .homeGraphContent{

  }

  .right{
    background-color: red;
    float: right;
    width: 47%;
    margin-bottom:10px;
    margin-left:3%;   
    height: 590px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 6px 16px -4px rgba(0,0,0,0.64);
    
  }


  .headerRht{
    width: 100%;
    background-color: rgb(226, 225, 225);
    box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.75);
    height: 16%;
  }
  .transContent{

  }
